<h1>
  <%= image_tag "logo.png", :alt => "ゼロストラクト zerostruct"  %>
</h1>

<h1 id="contact">Contact Us</h1>
<p style="margin:10px">
以下のメールアドレスまでご連絡ください. ３営業日以内にご返信致します.<br />
</p>
<p style="margin:10px;color:#999999;">
info at zerostruct.co.jp
</p>
