<%- model_class = @subscriber.class -%>
<h1>
  <%= image_tag "logo.png", :alt => "ゼロストラクト zerostruct"  %>
</h1>

<h2>Product</h2>

<p>
Webサイトを最適化するゼロストラクト・テクノロジー
</p>

<div style="margin-top:50px">
  <%= render :partial => 'form' %>
</div>

<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

